.table-responsive {
	overflow-x: auto;
}

.table {
	white-space: nowrap;
}

.table td,
.table th {
	overflow: hidden;
}

@media screen and (max-width: 767px) {
	.table-responsive {
		overflow-x: auto;
		width: 100%;
	}
}

@media print {
	.page {
		page-break-inside: avoid;
	}
	.hidden_print {
		display: none;
	}
}
